server {
    listen                  0.0.0.0:8080;
    server_names            hello.ma;
    error_page              500 /error_pages/500.html;
    error_page              600 /error_pages/600.html;

    location / {
        root                    /Users/atahiri/Desktop/webserv;
        allow_methods           GET POST;
        index                   /index.html;
        autoindex               on;
    }
    location /upload {
        root                    /Users/atahiri/Desktop/webserv/www;
        allow_methods           GET POST;
        index                   /index.html index.php;
        upload_store            /;
        autoindex               on;
    }
}
