server {
    listen                  0.0.0.0:8080;
    server_names            hello.ma;
    error_page              500 /error_pages/500.html;
    error_page              600 /error_pages/600.html;

    location / {
        root                    ./www/sample_test;
        allow_methods           GET POST;
        index                   /index.html;
        autoindex               on;
    }
}